[Desktop Entry]
Name=BambuStudio
Exec=sh -c '"$HOME"/bin/Bambu_Studio*.AppImage %U'
Terminal=false
Type=Application
Icon=applications-engineering
Comment=Bambu Labs 3D Printer Slicer
MimeType=model/stl;application/vnd.ms-3mfdocument;application/prs.wavefront-obj;application/x-amf;
Categories=Utility;
