[Desktop Entry]
Type=Application
Name=FreeCAD
Comment=3D Design
#Icon=
Exec=sh -c '"$HOME"/bin/FreeCAD*.AppImage %U'
Terminal=false
Categories=Utility