[Desktop Entry]
Name=Winbox
StartupWMClass=Winbox
Comment=Mikrotik Winbox
GenericName=Winbox
Exec=/home/lanrat/.local/bin/winbox
Icon=network-server
Type=Application
StartupNotify=true
Categories=Wine;Network;
